* {
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box ;
}

html {
    font-family: 'Montserrat', sans-serif ;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.float-sx {
    float: left ;
}

.testo-bianco {
    color: white ;
}

.testo-grigio {
    color: gray ;
}


main {
    width: 100% ;
    height: calc(100vh - 100px) ;
    overflow: hidden ;

}


.barra-upgrade {
    width: calc(100% - 200px) ;
    height: 100px ;
    display: flex ;
    justify-content: flex-end ;
    align-items: center ;
    position: fixed ;
    right: 0 ;
    top: 0 ;
    background-color: rgba(0, 0, 0, 0.5);
    
}

#pulsante-upgrade {
    margin-right: 1em ;
    padding: .8em 2em ;
    border: solid 1px white ;
    border-radius: 2em ;
    font-weight: bold ;
    
    
}

#pulsante-upgrade:hover {
    transform: scale(1.1);
}


.menu-centrale {

    text-align: center;
    width: 50% ;
    margin: 0 auto ;
}

.menu-centrale a {
    text-decoration: none ;
    text-transform: uppercase ;
    color: gray ;
}

.menu-centrale a:hover {
    color: white ;
}

.menu-centrale div {
    display: inline-block ;
    margin: 0 1em ;
    font-weight: 500 ;
}

.selezione {
    border-bottom: 2px solid #adff2f ;
    padding-bottom: .1em ;
}


.titolo {
    margin: 1em 1em ;
    font-size: 2em ;
   
    
}

.suggerimenti {
    color: gray ;
    margin: 0 1em ;
    font-size: .8em ;
}

.galleria-flex {
    display: flex ;
    margin: 0 0 0 1em ;
    

}

.album-galleria {
    width: calc(100%/6 - 1em);
    margin: 0 .5em ;
    text-align: center ;
}

.overlay {
    position: absolute ;
    top: 0 ;
    right: 0 ;
    width: 100% ;
    height: 100% ;
    background-color: rgba(0, 0, 0, 0.3);
    visibility: hidden ;
}

#play-overlay {
    font-size: 4em ;
    color: white ;
    position: absolute ;
    top: 50% ;
    left: 50% ;
    transform: translate(-50% , -50%);
}

.album-galleria:hover .overlay {
    visibility: visible ;
}

.immagini-galleria {
    position: relative ;
    width: 100% ;
}

.immagini-galleria img {
    width: 100% ;
    display: block ;
}




.album-galleria h4 {
    font-size: 1.3em ;
    font-weight: bold ;
    color: white ;
    margin: .6em 0 ;
}

.album-galleria h6 {
    color: gray ;
    font-size: .8em;
}

.popolari .immagini-galleria>img {
    border-radius: 100% ;

}

.popolari .immagini-galleria>.overlay {
    border-radius: 100% ;
}

.barra-laterale {
    width: 200px ;
    height: 100% ;
    background-color: #000000 ;



}


#laterale-superiore {
    width: 100% ;
    height: calc(100% - 80px);
    min-height: 350px ;
    display: flex ;
    flex-direction: column ;
    overflow-y: hidden ;

}

#logo {
    width: 80% ;
    padding: 1em ;
}

#logo-xs {
   display: none ;
    width: 80% ;
    margin: 0 auto ;

}

#logo-xs img {
    width: 100% ;
}

#nav {
    margin: 1em 0 ; 
}

#nav img {
    height: 1.5em ;
    vertical-align: middle ;
}

#nav div {
    padding: .5em 1em ;   
}

#nav span:hover {
    color: white ;
}

#crea:hover {
    color: white ;
}

#crea:hover #plus {
    background-color: white ;
}

#home {
    
    border-left: 2px solid #adff2f ;
    padding-left: 1em  ;


}


#plus {
    width: 2em ;
    height: 2em ;
    background-color: grey;
    text-align: center ;
    display: inline-block ;
    
}

#playlist {
    padding: 0 1em;
    flex-grow: 1 ;
    overflow: hidden;
}

#playlist span {
    font-weight: 500 ;
    margin-bottom: .5em ;
    color: white ;
    display: block ;
}

#playlist li {
    padding: .5em 0 ;
    font-size: .8em ;

}

#playlist li>a {
    text-decoration: none ;
    color: gray;
}

#playlist li>a:hover {
    color: white ;
}

#playlist ul {
    overflow-y: auto;
    height: 80% ;
    margin-top: 1em ;
}

.fa-plus {
    color: black ;
  
    line-height: 2em ;
  
}

#laterale-inferiore {
    width: 100% ;
    height: 80px ;
    
}

#installa {
    width: 90% ;
    height: 50% ;
    margin: 0 auto;
    border-bottom: 1px solid grey ;
    line-height: 40px ;
}

#installa:hover {
    color: white ;
}

#installa img {
    height: 1em ;
    
    vertical-align: middle;
}

#installa span {
    vertical-align: middle ;
    margin-left: .6em ;
}

#utente {
    width: 90% ;
    height: 50% ;
    margin: 0 auto ;
    line-height: 40px ;
    
    
}

#utente span {
    vertical-align: middle ;
    font-weight: bold ;
    color: white ;
    margin-left: .5em ;
}

#icona-tonda {
    height: 1.5em ;
    width: 1.5em ;
    overflow: hidden ;
    background-color: grey ;
    border-radius: 1.5em ;
    display: inline-block ;
    vertical-align: middle ;
   
}



.parte-centrale {
    width: calc(100% - 200px) ;
    height: 100% ;
    overflow-y: scroll ;
    padding-top: 120px ;
    background-color: #141922 ;


}



footer {
    width: 100%;
    height: 100px ;
    background-color: #282828 ;
    display: flex ;
    flex-direction: row ;
    justify-content: space-between ;
}

.contenitore-flex {
    height: 100% ;
    display: flex ;
    flex-direction: row ;
    align-items: center ;
    color: white ;

}

#brano-artista {
    width: 350px ;
    justify-content: space-evenly ;
    
}

#miniatura-brano {
  width: 25% ;
  min-width: 30px ;
  padding: 0 .5em ;

   
}

#miniatura-brano img {
    width: 100% ;
    
}



#miniatura-info:hover {
    color: white ;
    text-decoration: underline ;

}



#info-brano span {
    display: block ;
}

#icone-brano {
    margin-left: 1em ;
}

#icone-brano i {
    margin: 0 .3em ;
}

#icone-brano i:hover {
    color: white ;
}




#controlli {
    padding: .2em ;
    font-size: 1em ;
  

}

#controlli i {
    margin: .2em .5em ;
    vertical-align: middle ;
}

#play {
    font-size: 2em ;
}

#play:hover {
    transform: scale(1.2);
}

#durata {
    width: 40% ;
    min-width: 212px ;
    flex-direction: column ;
   

    
}

#tempo {
    width: 100% ;
 

}

#tempo span {
    font-size: .7em ;
    font-weight: bolder ;
}

#durata span, #barra-tempo {
    display: inline-block ;

}


#barra-tempo {
    position: relative ;
    height: .3em;
    width: calc(100% - 88px) ;
    margin: 0 1em ;
    background-color: grey ;
    border-radius: .2em ;
    
   
}

#barra-bianca {
    height: 100% ;
    width: 25% ;
    position: absolute ;
    top: 0 ;
    left: 0 ;
    background-color: white ;
    border-radius: .2em ;
}

#indicatore {
    position: absolute ;
    left: 23% ;
    width: .9em ;
    height: .9em ;
    border-radius: 100% ;
    background-color: white ;
    transform: translateY(-.4em);
    visibility: hidden ;

}

#indicatore-volume {
    position: absolute ;
    left: 23% ;
    width: .9em ;
    height: .9em ;
    border-radius: 100% ;
    background-color: white ;
    transform: translateY(-.4em);
    visibility: hidden ;

}

#barra-tempo:hover #indicatore {
    visibility: visible ;
}

#barra-bianca:hover {
    background-color: #adff2f ;
}

#barra-volume {
    width: 35% ;
    position: relative ;
    height: .2em ;
    background-color: grey ;
    border-radius: .2em ;
}

#barra-volume:hover #indicatore-volume {
    visibility: visible ;
}



#volume {
    justify-content: flex-end ;
    width: 350px ;
   
}

#volume * {
    margin-right: 1.3em ;
   
}

#volume i {
    font-size: .8em ;
}


@media screen and (max-width: 1101px) and (min-width: 701px) {

    .galleria-flex {
        display: flex ;
        flex-wrap: wrap ;
        margin: 0 0 0 1em ;
    }

    .album-galleria {
        width: calc(100%/4 - 1em);
        margin: 0 .5em ;
        text-align: center ;
    }

}

@media screen and (max-width: 700px) and (min-width: 601px) {
    .galleria-flex {
        display: flex ;
        flex-wrap: wrap ;
        margin: 0 0 0 1em ;
    }

    .album-galleria {
        width: calc(100%/2 - 1em);
        margin: 0 .5em ;
        text-align: center ;
    }
}

@media screen and (max-width: 600px) {
    .galleria-flex {
        display: flex ;
        flex-wrap: wrap ;
        margin: 0 0 0 1em ;
    }

    .album-galleria {
        width: calc(100%/2 - 1em);
        margin: 0 .5em ;
        text-align: center ;
    } 

    .barra-upgrade {
        width: calc(100% - 50px) ;
        height: 100px ;
        display: flex ;
        justify-content: flex-end ;
        align-items: center ;
        position: fixed ;
        right: 0 ;
        top: 0 ;
        background-color: rgba(0, 0, 0, 0.5);
        
    }

    .parte-centrale {
        width: calc(100% - 50px) ;
        height: 100% ;
        overflow-y: scroll ;
        padding-top: 120px ;
        background-color: #141922 ;
    
    
    }

    .barra-laterale {
        width: 50px ;
        height: 100% ;
        background-color: #000000 ;
    
    
    
    }

    #logo {
        display: none ;
        width: 80% ;
        padding: 1em ;
    }
    
    #logo-xs {
        display: initial ;
        width: 90% ;
        margin: 0 auto ;
        padding: .3em .3em ;
    
    }

    #logo-xs img {
        width: 100% ;
    }

    #playlist {
        display: none ;
        padding: 0 1em;
        flex-grow: 1 ;
        overflow: hidden;
    }

    #nav span {
        display: none ;
    }

    #home {
        border: none ;
    }

    #installa {
        width: 90% ;
        height: 50% ;
        margin: 0 auto;
        line-height: 40px ;
        border: none ;
        text-align: center ;
    }

    #installa span {
        display: none ;
    }

    #utente {
        text-align: center ;
    }
    
    #utente span {
        display: none ;
    }

}